@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower&display=swap');

body {
 position: relative;
 font-size: 16px;
 background-color: rgb(0, 0, 0);
 padding: 0;
 margin: 0;
}



nav {
position: fixed;
top: 0;
width: 50%;
left: 25%;

}
nav ul {
    list-style: none;
    font-size: 2em;
    background-color: rgba(0.0.0.1);
    color: beige;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {

    display: inline-block; 
    margin: 0% 1%;
font-family: 'Amatic SC', cursive;
text-transform: uppercase;
text-align: center;
}

nav li a {
    color:beige;
}
nav li a:hover {
    text-decoration: none;
   color:rgb(243, 95, 9);
}
 hr.shimmer {
      border-bottom: 1px solid rgb(95, 95, 95);
      width: 33%;
      text-align: center;
      box-shadow: 10px 8px 12px -6px #e9ecef;
 }

#transparent-overlay {
     background-color: rgba(0,0,0, .5);
     height: 600px;
     width: auto;
}

#red-border1 {
    display: inline-block;
    width: 50%;
    height: 50px;
    background-color:rgb(146, 32, 17);
    border: 1px rgb(146, 32, 17) solid;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg); /* Standard syntax */

}

#red-border2 {
    display: inline-block;
    width: 50%;
    height: 50px;
    background-color:rgb(146, 32, 17);
    border: 1px rgb(146, 32, 17) solid;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg); /* Standard syntax */

}


.charts {
    /* background:#1a1919; */
}
.dc-chart .axis path {
    stroke: #c7c8c8;
    fill: none;
}
.dc-chart g.tick text {               /* modified axis line to white */
    fill: white;
}
.dc-chart .x.axis text{               /* modifying the charts x-axis labelling*/
    transform: rotate(18deg);
    transform-origin: 0% 25%;
    text-anchor: end;
    font-size: 11px;
    font-weight: 200;
}

.dc-chart g.dc-legend-item text {     /* change chart legend text to white */
    fill: white;
}
.dc-chart g.tick {
    transform: translate(650, 0);
}

.section1, .section4 {
    height: 400px;
    width: 100%;
    padding: 2% 0%;
    color:#d1d2d4;
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    text-align: center;
    margin: 0px 0px 0px -43px;
}

.section1 div {
     display: inline-block;
     height: 400px;
     width: 30%;
     transform: scale(0.81);   
     margin: 0 15px;
}


/*
.section1 div > .sec1-1 {
    width:60%;
}
.section1 div > .sec1-2 {
    width: 25%;
}*/
/* .section1 div:hover {
    transform: scale(0.9);
} */
.section2 {
margin: 0 auto;
width: 100%;
height: 332px;
padding: 1% 0px;
text-align: center;
background-color:rgb(0, 0, 0);
}

.section2 div {
    line-height: 150px;
    color: #5a5b61;
    text-transform: uppercase;
    /* white-space: wrap; */
    font-family: 'Akronim', cursive;
    display: inline-block;
    font-size: 2em;
    width: 150px;
    height: 150px;
    padding: 4.8% 0px
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 0px 5px;
    border-radius: 60%;
    box-shadow: 10px 8px 12px -6px #e9ecef;         /* shine settings  */
    -webkit-animation: shine 6s ease-in-out infinite alternate;
    -moz-animation: shine 6s ease-in-out infinite alternate;
    -o-animation: shine 6s ease-in-out infinite alternate;
    animation: shine 6s ease-in-out infinite alternate;
    
}

.section2 div:hover {
    box-shadow: 10px 8px 12px 0px #e9ecef;
    transform: scale(1.2);
    -webkit-transition: .4s ease-in-out;              /* increasing div size over .8 seconds */
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    -o-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {                             /* For glowing text effect */
  from {
    text-shadow: 0 0 1px #000,  0 0 2px #fff;
  }
  
  to {
    text-shadow: 0 0 2px #fff,  0 0 1px #000;
     }
}

@-webkit-keyframes shine {                           /* For default circular div shine effect */
  from {
      box-shadow: 10px 8px 12px -6px #e9ecef,  0px 0px 0px 0px #0f0f0f;
   
  }
  
  to {
     box-shadow: 0px 0px 0px 0px #0f0f0f,  1px 0px 0px 0px #e9ecef3a;
     }
}
.section4 { 
    height: 300px;
    width: 100%;
    background-color:rgb(0, 0, 0);
    text-align: center;
    padding: 10% 20%;
}

.section4 div {
    display:inline-block;
    width: 50%;
    height: 25px;
    background-color:rgb(146, 32, 17);
    border: 1px rgb(146, 32, 17) solid;
}

#red-border1 {
    -ms-transform: rotate(20deg); 
    transform: rotate(20deg);
    color:gold;

}

#red-border2 {
    -ms-transform: rotate(-20deg); 
    transform: rotate(-20deg); 
color:honeydew;
}

.section5 {
    height: 500px;
    width: 100%;
}
#section6 {
    height: 24px;
    background-color: yellow;
}
.data-buttons img {
 height: auto;
 max-width: 200px;

}

h3 {
 font-family: sans-serif;
 font-size: 30px;
 color: black;
}

.charts {
 margin: 100 100;
 display: inline-block;
}

.text-centering {
 text-align: center;
}

img {
 marging-left: auto;
 margin-right: auto;
 display: block;
}

}

.bullseye {
 height: auto;
 width: 100%;
 top: 50%;
}

.text-centering-images {
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -50px;
 margin-left: -50px;
 width: 200px;
 height: 200px;
}

​.bullseye>div {

 display: inline-block;
}


table {
 border-collapse: collapse;
 border: 1px solid black;
 width: 100%;
}

th,
td {
height: 200px;
}
img:hover {opacity: 0.6;}


table.buttons {
 table-layout: inherit;
 width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
              /* Footer height */
}
footer ul {
    list-style: none;
    font-size: 1em;
background-color: black;
color: beige;
text-align: center;
    padding-left: 0;
    margin-bottom: 0;
}

footer li {
    display: inline-block;
    margin-left: 25px;
line-height: 5px;
font-family: oswald;
text-transform: uppercase;
text-align: center;
font-size:24px;
}

footer li i {
    color:rgb(110, 110, 108);
        
}
footer li a:hover {
    text-decoration: none;
    color:rgb(146, 144, 144)
}
footer li i:hover{
    color:rgb(255, 255, 255);
}


/*@media screen and (max-width: 1216px){
    .section4 div {
        width: 10%;
        clear: both;
        display: inline-block;
        border-style: solid;
        border-bottom-color: #ffffff
        border-bottom-width: 2px;
        padding: 0px;

    }
}*/